$theme-colors: (
  "primary": #916f07,
);

$body-bg: #e2d86f;
$radius: 25px;

// Bootstrap and its default variables
@import '../../../node_modules/bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '../../../node_modules/bootstrap-vue/src/index.scss';

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    width: 100%;
}

.round_borders{
  border-radius: $radius;
}